@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Arvo', serif;
}

.agile {
  padding: 40px;
}

h3 {
  color: #5A55A3;
}

a:hover {
  color: #9fa7a8;
  text-decoration:none;
}

.delete-button {
  margin-left: 220px;
  margin-top: 5px;
}

.list-title-link {
  color: #fff;
  font-size: 25px;
}

.list-group-item {
  margin-left: 15px;
  margin-right: 70px;
}

div.tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}

div.bhoechie-tab-menu div.list-group>span.active {
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
  margin-bottom: 10px;
}
div.bhoechie-tab-menu div.list-group>span.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

#checked:checked + .checkedLabel {
  text-decoration: line-through;
  color: rgb(128, 144, 160);
}

.remove {
  margin-left: 500px;
}

label.checkedLabel {
  margin-left: 15px;
  font-size: 20px;
}
